body{

	margin: 0;
	padding: 0;
	font-family: RobotoThin;
	background-color: rgba(214, 214, 214, 0.8);

}

header {

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: #001f3f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	transition: background-color 0.3s ease-in-out;
	z-index: 999;
	
}

.translucent {
	background: rgb(0,31,63);
	background: linear-gradient(0deg, rgba(0,31,63,0.18671218487394958) 0%, rgba(0,31,63,1) 100%);
  }

.logo {

	display: flex;
	align-items: center;
	padding-left: 60px;
  
}

.logo-img {

	height: 70px;
	width: 70px;
	margin: 0px;
	transform-origin: center;
	position: relative; 
    top: 0;
    left: 0;
	transition: transform 0.5s;

}

.logo-img:hover{

	transform: rotate(360deg);

}

.logo2-img {
	
	height: 35px;
	width: 300px;
	padding-left: 5px;

}

@media only screen and (max-width: 900px) {
	.logo2-img {
	  display: none;
	}
  }

  nav > ul {
	position: relative;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
  }
  
  nav > ul > li {
	margin: 0px 10px;
	padding-right: 70px;
	position: relative;
  }
  
  nav > ul > li > a {
	padding: 35px 10px;
	display: block;
	color: #ffff;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	transition: all 0.3s ease-in-out;
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
  }

  nav > ul > li > a::after {
	content: "";
	position: absolute;
	left: 0;
	top: 89px;
	width: 100%;
	height: 5px;
	background-color: rgb(255, 255, 255);
	transform: scaleX(2);
	transition: 0.3s ease;
	opacity: 0;
  }

  nav > ul > li > a:hover::after {
	opacity: 1;
  }

  @media only screen and (max-width: 1790px) {
	nav li:nth-child(n+6) {
	  display: none;
	}
  }

  @media only screen and (max-width: 1600px) {
	nav li:nth-child(n+5) {
	  display: none;
	}
  }

  @media only screen and (max-width: 1410px) {
	nav li:nth-child(n+4) {
	  display: none;
	}
  }

  @media only screen and (max-width: 1220px) {
	nav li:nth-child(n+3) {
	  display: none;
	}
  }

  @media only screen and (max-width: 1030px) {
	nav li:nth-child(n+2) {
	  display: none;
	}
  }

  
  nav > ul > li > ul {
	position: absolute;
	left: 50%;
  	transform: translateX(-50%);
	top: 100%;
	padding-left: 0;
	width: 300px;
	background-color: #fff;
	list-style: none;
	opacity: 0;
	transition: 0.3s ease;
	visibility: hidden;
	margin-left: -35px;
  }
  
  nav > ul > li > ul > li {

	margin: 0px;
	width: 100%;
	
  }
  
  nav > ul > li > ul > li > a {

	position: relative;
	padding: 10px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: bold;
	font-size: 22px;
	display: flex;
	justify-content: center;

  }

  nav > ul > li:hover > ul{

	visibility: visible;
	opacity: 1;

  }

  nav > ul > li > ul > li > a:hover{

	color: #fff;
	background-color: #000;

  }

  .page{

	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

  }

footer{

	background-color: #001f3f;
	color: #fff;
	margin-top: auto;
	display: flex;
	justify-content: space-around;
	height: 90px;

}

footer a{

	text-decoration: underline;
	color: #fff;
	
}

.baner {

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  	height: 45vh;
  	width: 100%;
	box-shadow: none;
	z-index: -999;
	overflow: hidden;
}

.baner img {
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
	z-index: -999;
	transition: transform 3s ease;
  }

  .text-begin{

	position: relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
	color: #fff;
	width: 100%;
	height: auto;
	background-color: #001f3f;
	font-family: RobotoBold;

}

.text-begin h2{

	padding: 0 20px;
	text-align: center;
	font-family: RobotoThin;

}


.reviews {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 200px;
    margin-bottom: 50px;
    }
  
  .review {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 80px;
    height: 446px;
    width: 315px;
  }

  .review img {
	
    height: auto;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;

  }

  #magnify {
    display: none;
    position: fixed;
    top: 1vh;
    left: 32.5vw;
    max-width: 100%;
    max-height: 100%;
    width: 35vw;
    height: auto;
    z-index: 9999;
  }

  #magnify img {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1000%;
    max-height: 100%;
  }
  

  /* затемняющий фон */
  #overlay {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 9990;
  }
  
  .review p {
	margin-top: 10px;
	font-size: 17px;
	font-family: OswaldBold;
	color: #012447;
	text-align: center;
	word-wrap: break-word;
	max-width: 100%;
  }